.details {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
    .details {
        font-size: 0.75em;
        margin-top: -1em;
        line-height: 1em;
    }

    h3 {
        display: none;
    }
}

@media (max-width: 599px) and (orientation: portrait) {
    .details {
        font-size: 1em;
        margin-top: 0;
        line-height: 1em;
    }

    h3 {
        display: block;
    }
}

@media (min-width: 600px) and (orientation: portrait) {}

@media (min-width: 900px) and (orientation: landscape) {}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {}